In [ ]:
import json
import base64
import numpy as np
import pandas as pd

In [2]:
with open("../data/TinyStoriesV2-GPT4-train.txt", "r") as f:
    tinystories_text = f.read()

In [3]:
len(tinystories_text)

2226845268

In [4]:
len(tinystories_text.split(" "))

425445174

In [5]:
len(set(tinystories_text.split(" ")))

1324784

In [6]:
with open("../data/tokenizers/tinystories-tokenizer.json", "r") as f:
    tinystories_tokenizer = json.load(f)

In [7]:
vocab = tinystories_tokenizer["vocab"]
vocab = {int(id_): base64.b64decode(tok) for tok, id_ in vocab.items()}

In [8]:
tokens = pd.DataFrame(vocab, index=['token']).T.reset_index().rename(columns={"index": "id"})

In [9]:
tokens.loc[tokens.token.apply(len).argmax()]

id                     7160
token    b' accomplishment'
Name: 7160, dtype: object

In [10]:

tokens

        id          token
0        0        b'\x00'
1        1        b'\x01'
2        2        b'\x02'
3        3        b'\x03'
4        4        b'\x04'
...    ...            ...
9995  9995   b'Surrender'
9996  9996       b'Rocky'
9997  9997    b' meadows'
9998  9998  b' imaginary'
9999  9999       b' bold'

[10000 rows x 2 columns]

In [11]:
import numpy as np

In [15]:
tokens = np.load("../data/inputs/tinystories-valid-tokens.npy")

In [16]:
tokens

array([117, 862, 492, ..., 378, 376,  46], shape=(5461210,), dtype=uint16)